.main{
    width: 400px;

    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;

    border: solid 2px rgba(242, 242, 242, 0.25);
    border-radius: 5px;
    padding: 5px 5px;

    padding-right: 50px;

    background: transparent;

    position: relative;
}

.main img{
    width: 60px;
    height: 60px;
}

.details{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    height: 80px;
    font-size: 16px;
    font-weight: 500;
}

.desc,
.count{
    display: flex ; 
    justify-content: center;
    align-items: center;
}

.count{
    gap: 30px; 
}

.desc{
    gap: 120px ; 
}

.count button,
.deleteBtn{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: none;
    font-size: 20px;
    text-align: center;
    background: rgba(255, 255, 255, 0.1);
    color: white;
    cursor: pointer;
    transition: 0.5s;
}

.count button:hover,
.deleteBtn:hover{
    background: rgba(255,255,255,0.5);
}

.itemPrice{
    color: rgba(211, 99, 6, 1);
}

.deleteBtn{
    width: 20px !important;
    height: 20px !important;
    font-size: 8px !important;

    text-align: center;

    position: absolute;
    right: 5px;
    top: 5px;
}

@media (max-width:551px){
    .main{
        width: 350px;
    }

    .desc{
        gap: 80px ; 
    }
}

@media (max-width:451px){
    .main{
        width: 300px;
    }

    .desc{
        gap: 60px ; 
    }
}