.main{
    color: white;
    display: flex;
    justify-content: center;
    gap : 80px ; 
}

.panner{
    width: 800px;
    height: 600px;
    background: url(../../public/img/8.png);
    background-position: center;
    background-repeat: round !important;
    background-size: cover;
    animation: slider 20s infinite;
    animation-direction: alternate-reverse;
}

@keyframes slider {
    25%{
        background: url(../../public/img/9.png);
    }
    50%{
        background: url(../../public/img/7.png);
    }
    75%{
        background: url(../../public/img/4.png);
    }
    100%{
        background: url(../../public/img/5.png);
    }
}
.title1{
    font-size: 50px;
    font-weight: bold;
    color: rgba(211, 99, 6, 1);
    text-transform: capitalize;
}

.title2{
    font-size: 18px;
    text-transform: capitalize;
}

.desc{
    display: flex;
    flex-direction: column;
    padding-top: 100px;
    gap: 20px;
}

.btns{
    display: flex;
    gap: 10px;
}

@media (max-width: 1201px){
    .main{
        padding-top: 100px;
        flex-direction: column-reverse;
        align-items: center;
        gap: 40px ; 
    }

    .desc{
        padding-top: 0px;
    }

    .panner{
        width: 600px;
        height: 400px;
        background-repeat: no-repeat;
    }
}

@media(max-width: 801px){
    .panner{
        width: 400px;
        height: 250px;
    }

    .title1{
        font-size: 30px;
    }
    
    .title2{
        font-size: 16px;
    }
    
}

@media (max-width:401px) {
    .panner{
        width: 300px;
        height: 150px;
    }
}