.main{
    color: white;
    font-size: 20px;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap : 30px ;
    width: fit-content;
}

.main form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    width: 75%;
}

.formControll{
    position: relative;
    display: flex;
    flex-direction: column;

    font-size: 1rem;
    font-weight: normal;

    gap: 5px;  
}

.controllPass{
    position: absolute;
    width: 1.5rem;
    height: 1.5rem;
    top: 38% ;
    right: 10px ; 
    cursor: pointer; 
}

.formControll input{
    color: white;
    padding: 10px;
    padding-right: 40px;
    background: transparent;
    border: unset;
    border-radius: 5px;
    box-shadow: 0.5px 0.5px 2px whitesmoke;
}

.main form button{
    width: 100% !important;
}

.msg{
    font-size: 12px;
    display: flex;
    justify-content: space-between;
}

.msg span{
    color: #D36306;
    cursor: pointer;
}

.msg span:hover{
    text-decoration: underline;
}

.footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px ; 
}



.line{
    width: 150px;
}

@media (max-width:500px) {
    .line{
        width: 100px;
    }

    .controllPass{
        top: 32% ;
    }
}

@media (max-width:410px) {
    .line{
        width: 80px;
    }
}