*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a{
  text-decoration: unset;
  color: white;
}

.active{
  color: #D36306 ;
}

.slick-track{
  height: fit-content !important;
}

.slick-slider div{
  margin-left: 0px 5px;
}

.slick-arrow{
  /* display: none !important; */
  position: absolute !important;
  top: 50%  !important;
}

.slick-dots li.slick-active button::before{
  color: #D36306 !important; 
}

.slick-dots li button::before{
  color: #ffffffb4 !important;
  font-size: 1rem !important;
  top: 2rem !important;
}